@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

$FontD: "DM Serif Display", sans-serif;
$FontK: "Karla", sans-serif;
$FontD1: 400;
$FontK1: 400;
$FontK2: 700;
